body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
.text{
    font-size: 20px;
    margin-bottom: 50px;
}
button{
    padding: 15px 50px;
    background: black;
    color: wheat;
    font-size: 20px;
}
